<h1> Recommendation Form </h1>
<form action="?" method="POST">

<%= render 'form', courses: @courses%>
<br/>
<br/>
<input type="submit" value="Submit">
</form>


<%= link_to 'Back to courses', home_index_path %>


