/* CSS for the body */
body{
	/* Changes the background to a light green color */
	background: #a8f0b6;

	/* Makes the height to 100% so the webpage can use the whole space */
	height: 100%;
}

/* CSS for the container that contains the game start button */
.gameStart{
	/* Sets the margin to auto so it can center on the page vertically and horizontally */
	margin: auto;

	/* Sets the position to absolute so that we can position the container in the middle of the page */
	position: absolute;

	/* Aligns the text to center */
	text-align: center;

	/* Centers the div vertically from the top*/
	top: 50%;

	/* Centers the div horizontally from the left */
	left: 50%;

	/* Translates the div horizontally and vertically -50% to center the container */
	transform: translate(-50%, -50%);

	/* Makes the width of the container 30% of the whole page */
	width: 30%;
}

/* CSS for the start game button */
.gameStartButton{
	/* Sets a 0px top margin, auto left and right margin to center and a 20px bottom margin to separate from other things at the bottom */
	margin: 0px auto 20px auto;

	/* Sets the color of the text to white */
	color: white;

	/* Sets the background color of the button to a dark gray color */
	background-color: #333;

	/* Sets the top and bottom padding to 10 px and the left and right padding to 20px for the button to look better */
	padding: 10px 20px;

	/* Sets the cursor to a pointer to make it seem like clicking on a link */
	cursor: pointer;

	/* Sets the display of the div to be like a block rather than text */
	display: block;
	
	/* Center Aligns the text */
	text-align: center;

	/* Removes the underline from under the text */
	text-decoration: none;

	/* Clears the spacing on top and bottom */
	clear: both;

	/* Sets the width to 50% of the parent container */
	width: 50%;

	/* Sets the font to have a bolder weight */
	font-weight: 600;

	/* Creates the extending width and background change transition */
	transition: width .5s;

	/* Makes it so the text in the button cannot be selected */
	user-select: none;
}

/* CSS for hovering on the game start button */
.gameStartButton:hover{
	/* Changes the width to 90% of the container */
	width: 90%;

	/* Changes the background color of the button to a red color */
	background-color: #bb0000;
}

/* CSS for the input container for the form */
.input{
	/* Sets display to none to hide the form from view */
	display: none;

	/* Sets the margin to auto so it can center on the page vertically and horizontally */
	margin: auto;

	/* Sets the position to absolute so that we can position the container in the middle of the page */
	position: absolute;

	/* Aligns the text to center */
	text-align: center;

	/* Centers the div vertically from the top*/
	top: 50%;

	/* Centers the div horizontally from the left */
	left: 50%;

	/* Translates the div horizontally and vertically -50% to center the container */
	transform: translate(-50%, -50%);

	/* Makes the width of the container 30% of the whole page */
	width: 30%;
}

/* CSS for styling the input field */
input{
	/* Sets a 10px top and bottom padding, and 20px left and right padding */
	padding: 10px 20px;

	/* Sets the width of the input field to 80% of the container */
	width: 80%;

	/* Removes the border from the input field */
	border: none;

	/* Aligns the text to center */
	text-align: center;
}

/* CSS for the form submit button */
.formSubmit{
	/* Sets a 30px top margin, auto left and right margin to center and a 20px bottom margin to separate from other things at the bottom */
	margin: 30px auto 20px auto;

	/* Sets the color of the text to white */
	color: white;

	/* Sets the background color of the button to a dark gray color */
	background-color: #333;

	/* Sets the top and bottom padding to 10 px and the left and right padding to 20px for the button to look better */
	padding: 10px 20px;

	/* Sets the cursor to a pointer to make it seem like clicking on a link */
	cursor: pointer;

	/* Sets the display of the div to be like a block rather than text */
	display: block;

	/* Center Aligns the text */
	text-align: center;

	/* Removes the underline from under the text */
	text-decoration: none;

	/* Clears the spacing on top and bottom */
	clear: both;

	/* Sets the width to 50% of the parent container */
	width: 50%;
	
	/* Sets the font to have a bolder weight */
	font-weight: 600;

	/* Creates the extending width and background change transition */
	transition: width .5s;

	/* Makes it so the text in the button cannot be selected */
	user-select: none;
}

/* CSS For hovering on the input submit button */
.formSubmit:hover{
	/* Changes the width of the button to 90% of the container */
	width: 90%;

	/* Changes the background color of the button to red */
	background-color: #bb0000;
}

/* CSS styling for the cards container div */
.cardsContainer{
	/* Sets the width of the cards container div to 80% of the body width */
	width: 80%;
}

/* CSS styling for the cards */
.cardsContainer .card{
	/* Sets the width of each card to 10% of the container width */
	width: 10%;

	/* Sets the height of the card to auto */
	height: auto;

	/* Sets the padding of the card to have 10px bottom and top padding and 20px left and right padding */
	padding: 10px 20px;

	/* sets the left and right margin to 0px and the top and bottom margin to 5 px */
	margin: 5px 0px;

	/* Sets the display of the cards to inline block to make it behave like a block and get them to stack side by side */
	display: inline-block;

	/* Set the minimum width of each of the cards to 200px */
	min-width: 200px;
}

/* CSS for when the user hovers over the cards */
.cardsContainer .card:hover{
	/* Changes the background color of the card to gray */
	background-color: #ccc;
}

/* CSS For when the user selects the cards */
.cardsContainer .card.select{
	/* Changes the background color of the card to a red color */
	background-color: #bb0000;
}

/* CSS for the image inside the cards */
.cardsContainer .card img{
	/* Sets the width of the image to the width of the container */
	width: 100%;
}

/* CSS for the exit button container */
.gameEnd{
      	/* Sets the diplay to none to make the button invisible on the screen */
	display: none;
	
	/* Sets the margin to auto so it can center on the page vertically and horizontally */
	margin: auto;

	/* Sets the position to absolute so that we can position the container in the middle of the page */
	position: relative;
	
	/* Aligns the text to center */
	text-align: center;

	/* Moves the div to the right of the screen */
	left: 40%;
	
	/* Makes the width of the container 30% of the whole page */
	width: 20%;
}

/* CSS for the exit button */
.gameEndButton{
	/* Sets a 0px top margin, auto left and right margin to center and a 20px bottom margin to separate from other things at the bottom */
	margin: 0px auto 20px auto;

	/* Sets the color of the text to white */
	color: white;

	/* Sets the background color of the button to a dark gray color */
	background-color: #333;

	/* Sets the top and bottom padding to 10 px and the left and right padding to 20px for the button to look better */
	padding: 10px 20px;

	/* Sets the cursor to a pointer to make it seem like clicking on a link */
	cursor: pointer;

	/* Sets the display of the div to be like a block rather than text */
	display: block;

	/* Center Aligns the text */
	text-align: center;

	/* Removes the underline from under the text */
	text-decoration: none;

	/* Clears the spacing on top and bottom */
	clear: both;
	
	/* Sets the width to 50% of the parent container */
	width: 50%;

	/* Sets the font to have a bolder weight */
	font-weight: 600;

	/* Creates the extending width and background change transition */
	transition: width .5s;

	/* Makes it so the text in the button cannot be selected */
	user-select: none;
}

.gameEndButton:hover{
	/* Changes the width of the button to 90% of the container */
	width: 85%;
	
	/* Changes the background color of the button to red */
	background-color: #bb0000;
}

/* CSS for the control instructions */
.playerControlInstructions{
    display: none;
}

/* CSS for the player pick cards message */
.playerPickCards {
    display: none;
}

/* CSS for the checkSet button container */
.checkSetContainer{
	/* Sets the diplay to none to make the button invisible on the screen */
	display: none;

	/* Sets the margin to auto so it can center on the page vertically and horizontally */
	margin: auto;

	/* Sets the position to absolute so that we can position the container in the middle of the page */
	position: relative;

	/* Aligns the text to center */
	text-align: center;

	/* Moves the div to the right of the screen */
	left: 40%;

	/* Makes the width of the container 30% of the whole page */
	width: 20%;
}

/* CSS for the check set button */
.checkSetButton{
	/* Sets a 0px top margin, auto left and right margin to center and a 20px bottom margin to separate from other things at the bottom */
	margin: 0px auto 20px auto;

	/* Sets the color of the text to white */
	color: white;

	/* Sets the background color of the button to a dark gray color */
	background-color: #333;

	/* Sets the top and bottom padding to 10 px and the left and right padding to 20px for the button to look better */
	padding: 10px 20px;

	/* Sets the cursor to a pointer to make it seem like clicking on a link */
	cursor: pointer;

	/* Sets the display of the div to be like a block rather than text */
	display: block;

	/* Center Aligns the text */
	text-align: center;

	/* Removes the underline from under the text */
	text-decoration: none;

	/* Clears the spacing on top and bottom */
	clear: both;

	/* Sets the width to 50% of the parent container */
	width: 50%;

	/* Sets the font to have a bolder weight */
	font-weight: 600;

	/* Creates the extending width and background change transition */
	transition: width .5s;

	/* Makes it so the text in the button cannot be selected */
	user-select: none;
}

.checkSetButton:hover{
	/* Changes the width of the button to 90% of the container */
	width: 85%;

	/* Changes the background color of the button to red */
	background-color: #bb0000;
}
