<h1>Editing Section</h1>

<div class="white">
<%# Edit a section using the form for specifying section information%>
<%= render 'form', section: @section %>

<%= link_to 'Show', @section %> |
<%= link_to 'Back', @section.course %>
</div>
