<h1>Available Graders</h1>

<div class="white">
<%= render 'grader_form', section: @section %>

<%= link_to 'Back', section_path(@section), class: "button-no-width-change width-30 left-button" %>
</div>
