<div id="course_template" style="display:none; flex-direction:row; gap:1em">
<%= fields_for :course do |c| %>
    <%= c.label :courses, 'Courses of Interest' %>   
    <%= c.collection_select :id, @courses, :id, :course_number_with_title%>
<% end %>
</div>


