<div id="course_template" style="display:none; flex-direction:row; gap:1em">
<%= fields_for :course do |c| %>
    <%= c.label :courses, 'Courses of Interest' %>   
    <%= c.collection_select :course_title, @courses, :course_title, :course_title%>
<% end %>
</div>


